@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --nav-height: 56px;
}
nav {
  height: var(--nav-height);
}
body {
  background-color: #191716 !important;
  font-family: 'Roboto', sans-serif !important;

  h1,
  h2,
  h3,
  h4,
  nav {
    font-family: 'Raleway', sans-serif;
    * {
      color: #191716 !important;
    }
    span,
    a:hover {
      color: #e6af2e !important;
    }
  }

  p {
    letter-spacing: 1px !important;
  }

  section {
    min-height: calc(100vh - var(--nav-height));
    max-width: 56rem;
    margin: 4rem auto !important;
    ul {
      gap: 2.5rem !important;
      font-size: 1rem;
      font-weight: 200;
    }
  }
  .fix-scroll {
    padding-top: var(--nav-height);
  }
  .card {
    .custom-card-title {
      font-size: 1rem;
      font-weight: 700;
    }
    p {
      font-size: 0.8rem;
    }
  }
}

nav,
footer {
  background-color: #e0e2db;
}
.hero-img {
  border-radius: 10%;
}

#portfolio .card.text-secondary.h-100,
nav a {
  transition: scale 0.5s ease;
  &:hover {
    scale: 1.1;
  }
}

.project-img {
  object-fit: scale-down;
  max-height: 205px;
  height: 205px;
  background-color: whitesmoke;
}
