body {
  font-family: Roboto, sans-serif !important;
  text-wrap: pretty;
}
.bg-success {
  && {
    background-color: #28a745 !important;
  }
}
.text-success {
  && {
    color: #28a745 !important;
  }
}

.card img {
  aspect-ratio: 1050/700;
}

button.btn-light,
h3 {
  && {
    font-weight: 500 !important;
  }
}
