* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  background-color: #efefef;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    'header main'
    'footer main';
  @media screen and (max-width: 576px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      'header'
      'main'
      'footer';
  }
}

header {
  position: relative;
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  background-color: #000;
  color: white;
  align-items: center;
  padding-block: 20px;
  gap: 3rem;
  button {
    display: none;
    fill: white;
    background: transparent;
    border: none;
    width: 32px;
  }
  @media (width< 576px) {
    flex-direction: row;
    justify-content: space-evenly;
    button {
      display: block;
    }
  }
}
main {
  padding: 0 20px;
  overflow: scroll;
  grid-area: main;
  padding-right: 20px;
  height: 100vh;
}
section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  padding-inline: 20px;
  min-height: 100dvh;
  h2 {
    align-self: center;
  }
}

footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: #272727;
  color: white;
  text-align: center;
  a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    &:hover {
      text-decoration: underline;
    }
  }
  @media (width< 576px) {
    padding: 10px 0;
  }
}

.title {
  display: flex;
  gap: 10px;
  align-items: center;
  h1 {
    font-size: 1.5rem;
    font-weight: normal;
  }
  #disc-image {
    width: 60px;
    object-fit: cover;
    animation: rotate 5s linear infinite;
  }
  @media (width> 575px) {
    flex-direction: column;

    #disc-image {
      width: 150px;
    }
  }
}

nav {
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    list-style: none;
    a {
      text-decoration: none;
      color: white;
      font-size: 1.2rem;
      font-weight: 400;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  @media screen and (max-width: 576px) {
    display: none;
  }
}
.social-container {
  display: flex;
  gap: 0.5rem;
}
.social-icon svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: white;
  transition: color 0.3s;
  &:hover {
    fill: rgb(191, 191, 191);
  }
}

#albums-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
}
.album {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 20px;
  justify-content: space-between;

  .disc-cover {
    position: absolute;
    width: 260px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  }
  &:hover .disc-cover {
    animation: showDisc 1s forwards;
  }
  &:hover .album-disc {
    animation: moveDisc 1s forwards;
  }
  /* &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10%;
  } */
}
.album-title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}
.album-disc {
  width: 100%;
  object-fit: cover;
}

.speaker-image {
  position: fixed;
  animation: sound 0.5s infinite alternate;
  bottom: 20px;
  right: 60px;
  width: 100px;
  z-index: 2;
}
#top-artists {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.artists-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.artist-list {
  li {
    font-size: 1.2rem;
    font-weight: 400;
    color: #333;
    cursor: pointer;
    transition: all 0.3s;
    line-height: 2rem;
    &:hover {
      text-decoration: underline;
      color: brown;
    }
  }
}
/* Animations */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes sound {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes showDisc {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(15%) scale(1);
  }
}

@keyframes moveDisc {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20%);
  }
}
