* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway';
  background-color: #000;
  color: white;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  margin: 20px 0;
}
.header-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: 10%;
}
.description {
  display: flex;
}
.description p {
}
.description img {
  max-width: 400px;
}
